@page
@using Microsoft.EntityFrameworkCore
@model Chef_sTable.Pages.Receitas.IndexModel

@{
    ViewData["Title"] = "Receitas";
}

<h1>Receitas</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Criar nova receita</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receitas[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receitas[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receitas[0].TempoPreparo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Receitas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoPreparo)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
