@page
@model Chef_sTable.Pages.Receitas.DetailsModel


<link rel="stylesheet" href="~/css/receita-galeria.css" />
<script src="~/js/receita-galeria.js" defer></script>

@if (Model.Receita.Fotos != null && Model.Receita.Fotos.Any())
{
    var capa = Model.Receita.Fotos.First();

    <!-- CAPA -->
    <section class="capa-wrapper">
        <img id="capaImagem"
             src="@capa.Url"
             class="img-capa"
             onclick="abrirModal(this.src)" />

        <div class="overlay-capa">
            <h1 class="titulo-receita">@Model.Receita.Titulo</h1>
            <span class="autor-receita">
                Criado por <strong>@(Model.Receita.Usuario?.Nome ?? "Usuário")</strong>
            </span>
        </div>
    </section>

    <!-- MINI GALERIA -->
    @if (Model.Receita.Fotos.Count > 1)
    {
        <div class="mini-galeria">
            @foreach (var foto in Model.Receita.Fotos)
            {
                <img src="@foto.Url"
                     class="img-mini"
                     onclick="trocarCapa('@foto.Url')" />
            }
        </div>
    }
}

<!-- MODAL -->
<div id="modalFoto" class="modal-foto" onclick="fecharModal()">
    <img id="imgModal">
</div>

<!-- RESTANTE DO CONTEÚDO -->
<section class="conteudo-receita">

    <div class="info-receita">
        <span>
            <h5>#@Model.Receita.Tags </h5>
        </span>
        <span>
            <h4>Nível de Dificuldade</h4>
            <p class="texto-centralizado">@Model.Receita.Dificuldade</p>
        </span>
        <span>
            <h4>Tempo de preparo</h4>
            <p class="texto-centralizado">@Model.Receita.TempoPreparo minutos</p>
        </span>
</div>

    <div class="conteudo-receita">

        <h3>Descrição</h3>
        <p>@Model.Receita.Descricao</p>

        <h3>Ingredientes</h3>
        <p>@Model.Receita.Ingredientes</p>

        <h3>Modo de Preparo</h3>
        <p>@Model.Receita.ModoPreparo</p>

    </div>

  
    
</section>